<footer class="bg-dark-green text-gray py-8" id="contacto">
    <div class="container mx-auto flex flex-wrap justify-between pl-5">
        <div class="w-1/2 md:w-1/5 lg:w-1/3 px-4">
            <h3 class="font-bold mb-4">Enlaces</h3>
            <ul class="list-reset">
                <li class="my-2"><a href="#" class="text-soft-gray hover:text-white">Inicio</a></li>
                <li class="my-2"><a href="#" class="text-soft-gray hover:text-white">Servicios</a></li>
                <li class="my-2"><a href="#" class="text-soft-gray hover:text-white">Nosotros</a></li>
                <li class="my-2">
                    <a href="https://wa.me/+573142923093" class="text-soft-gray hover:text-white">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="w-1/2 md:w-1/5 lg:w-1/3 px-4">
            <h3 class="font-bold mb-4">Redes sociales</h3>
            <ul class="list-reset">
                <li class="my-2">
                    <a
                        href="https://www.facebook.com/profile.php?id=100092526372100&mibextid=ZbWKwL"
                        class="text-soft-gray hover:text-white">Facebook</a>
                </li>
                <li class="my-2">
                    <a
                        href="https://www.tiktok.com/@vivirahorasm?_t=8cLZuLd8lLa&_r=1"
                        class="text-soft-gray hover:text-white">Tik Tok</a>
                </li>
                <li class="my-2">
                    <a
                        href="https://instagram.com/vivirahorasm?igshid=MTIyMzRjYmRlZg=="
                        class="text-soft-gray hover:text-white">Instagram</a>
                </li>
            </ul>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 pt-5 md:pt-0">
            <h3 class="font-bold mb-4">Contacto</h3>
            <ul class="list-reset">
                <div class="flex items-center">
                    <li class="my-2"><i class="fa fa-phone mr-2"></i> +57 317 365 0751</li>
                    <li class="font-semibold ml-2">|</li>
                    <li class="ml-2">+57 312 291 9854</li>
                </div>
                <li class="my-2"><i class="fa fa-envelope mr-2"></i> info@example.com</li>
                <li class="my-4"><i class="fa fa-map-marker mr-2"></i> 123 Calle Principal, Ciudad</li>
            </ul>
        </div>
    </div>
    <div class="container mx-auto mt-8 border-t border-gray pt-4 flex flex-wrap">
        <div class="w-full lg:w-1/2 mb-4 lg:mb-0 ml-3 lg:ml-0">
            <p>© 2023 Todos los derechos reservados.</p>
        </div>
        <div class="w-full lg:w-1/2">
            <ul class="list-reset flex justify-end">
                <li><a href="#" class="text-gray hover:text-white mr-4">Términos y condiciones</a></li>
                <li><a href="#" class="text-soft-gray hover:text-white">Política de privacidad</a></li>
            </ul>
        </div>
    </div>
</footer>
