<section id="inicio">
    <div class="flex flex-col lg:flex-row items-center pt-20 lg:py-40 bg-soft-green">
        <div
            class="lg:w-3/5 lg:h-96 rounded-lg lg:rounded-none bg-white flex justify-center items-center p-5 m-5 lg:p-0 lg:m-0">
            <h1 class="text-5xl lg:text-7xl font-cursive text-bold">
                Corporación Vívir Ahora <br />
                <span class="font-serif">Te guíamos</span>
                <br />
                <span class="text-5xl font-semibold text-light-green">al estado natural de vívir</span>
            </h1>
        </div>
        <div class="lg:w-2/5 flex items-center pb-5 lg:pb-0">
            <figure class="lg:w-11/12 p-5 lg:p-0">
                <img src="/images/consultorio.jpg" class="object-cover rounded-xl" alt="" />
            </figure>
        </div>
    </div>
    <div class="bg-dark-green text-white py-36 pl-4 lg:pl-12">
        <div class="md:ml-10 lg:ml-36 lg:w-2/5">
            <h2 class="text-3xl">
                <span class="text-light-green">Creemos que todas las personas pueden</span>
                <br /> transformar sus procesos de crisis y florecer desde lo más árido de sus conflictos.
            </h2>
        </div>
        <div class="flex flex-row items-center gap-5 flex-wrap justify-evenly mt-20 lg:mt-36 lg:mb-10">
            <div class="w-72">
                <h3 class="font-semibold">Ansiedad</h3>
                <p class="text-sm">Gran inquietud, intensa excitación y extrema inseguridad</p>
            </div>
            <div class="w-72">
                <h3 class="font-semibold">Depresión</h3>
                <p class="text-sm">
                    Profunda tristeza, decaimento anímico, baja autoestima y perdida de interes por todo
                </p>
            </div>
            <div class="w-72">
                <h3 class="font-semibold">Adicciones</h3>
                <p class="text-sm">
                    Hábito de conductas peligrosas o de consumo de determidaos productos debido a dependencio psicólogia
                    o fisiológica
                </p>
            </div>
            <div class="w-72">
                <h3 class="font-semibold">Duelos</h3>
                <p class="text-sm">Profundo dolor y tristeza por la perdida de un ser querido</p>
            </div>
        </div>
    </div>
</section>
