<script type="module">
    const toggleButton = document.querySelector('[data-collapse-toggle]')
    const navbar = document.querySelector('#navbar-default')

    toggleButton.addEventListener('click', () => {
        navbar.classList.toggle('hidden')
    })
</script>

<header>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="container flex flex-wrap md:flex-nowrap items-center justify-between mx-auto">
            <div class="flex items-center">
                <h1 class="font-bold text-xl tracking-wide uppercase font-cursive text-green">Vivir Ahora</h1>
                <i class="fa-solid fa-phone ml-4 text-light-green">
                    <span class="text-xs">+57 317 365 0751</span>
                </i>
            </div>
            <button
                data-collapse-toggle="navbar-default"
                type="button"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-green focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default"
                aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg
                    class="w-6 h-6"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path></svg
                >
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="flex flex-col items-center p-4 mt-4 border border-green rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white  dark:border-dark-green">
                    <li>
                        <a
                            href="#inicio"
                            class="block py-2 pl-2 pr-2 lg:pl-4 lg:pr-4 text-dark-green rounded transition-all md:border-0 md:dark:hover:text-white dark:hover:bg-dark-green"
                            aria-current="page">Inicio</a
                        >
                    </li>
                    <li>
                        <a
                            href="#servicios"
                            class="block py-2 pl-2 pr-2 lg:pl-4 lg:pr-4 text-dark-green rounded transition-all md:border-0 md:dark:hover:text-white dark:hover:bg-dark-green"
                            >Servicios</a
                        >
                    </li>
                    <li>
                        <a
                            href="#nosotros"
                            class="block py-2 pl-2 pr-2 lg:pl-4 lg:pr-4 text-dark-green rounded transition-all md:border-0 md:dark:hover:text-white dark:hover:bg-dark-green"
                            >Nosotros</a
                        >
                    </li>
                    <li>
                        <a
                            href="#contacto"
                            class="block py-2 pl-2 pr-2 lg:pl-4 lg:pr-4 text-dark-green rounded transition-all hover:bg-green md:hover:bg-transparent md:border-0 md:dark:hover:text-white"
                            >Contacto</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
