<section class="flex flex-col lg:flex-row bg-gray pb-20 pt-10 z-10" id="servicios">
    <div class="lg:w-1/2 flex justify-center">
        <figure class="w-3/4 relative lg:mt-12">
            <img src="images/videocall.jpg" class="h-full object-cover rounded-lg" alt="1" />
        </figure>
    </div>
    <div class="lg:w-1/2 lg:pt-16">
        <div class="px-5 mt-10 pl-10 lg:pl-0 lg:p-0 lg:w-4/5">
            <h2 class="text-3xl font-serif font-semibold">Nuestros <span class="text-light-green">Servicios</span></h2>
            <p class="text-soft-green font-sans mt-8">
                Contamos con especialistas y profesionales en diversas áreas de la salud mental, que te ayudarán a
                enfrentar tus conflictos y a mejorar tu bienestar por medio de:
            </p>
            <ul class="mt-10 w-4/5">
                <li class="flex items-start">
                    <i class="fa-solid fa-circle-dot text-xl text-soft-green"></i>
                    <p class="ml-4">Consulta de tele-psicología y Domiciliaría</p>
                </li>
                <li class="flex items-start mt-5">
                    <i class="fa-solid fa-circle-dot text-xl text-soft-green"></i>
                    <p class="ml-4">Consulta de psicología</p>
                </li>
                <li class="flex items-start mt-5 w-4/5">
                    <i class="fa-solid fa-circle-dot text-xl text-soft-green"></i>
                    <p class="ml-4">
                        Consulta especializada en adicciones o conflictos con el consumo de drogas y alcohol
                    </p>
                </li>
                <li class="flex items-start mt-5">
                    <i class="fa-solid fa-circle-dot text-xl text-soft-green"></i>
                    <p class="ml-4">Consulta de trabajo social individual y de familia</p>
                </li>
                <li class="flex items-start mt-5">
                    <i class="fa-solid fa-circle-dot text-xl text-soft-green"></i>
                    <p class="ml-4">Programas de promoción y prevención de la salud mental</p>
                </li>
                <li class="flex items-start mt-5">
                    <i class="fa-solid fa-circle-dot text-xl text-soft-green"></i>
                    <p class="ml-4">Terapia en pareja</p>
                </li>
            </ul>
        </div>
    </div>
</section>
