<section class="text-center py-20 lg:py-52" id="nosotros">
    <h2 class="text-3xl w-11/12 md:w-full">Quienes somos <span class="text-light-green">nosotros</span></h2>
    <div class="flex mt-14 lg:mt-20 lg:justify-center">
        <div class="flex flex-wrap lg:flex-nowrap gap-5 px-5 lg:px-0 lg:w-11/12">
            <div class="shadow-2xl rounded-xl p-10 lg:w-1/2">
                <h3 class="font-semibold">Como comenzamos</h3>
                <p class="text-justify mt-5">
                    Somos una entidad sin ánimos de lucro, que ofrece servicios especializados en salud mental y
                    conflictos de la contemporaneidad. Nacemos con el fin de diseñar una propuesta de atención integral
                    para personas con dificultades en su salud mental, consumo de drogas y alcohol, adicciones y otras
                    problemáticas psicosociales.
                </p>
            </div>
            <div class="shadow-2xl rounded-xl p-5 md:mt-5 lg:mt-0 lg:w-1/2">
                <h3 class="font-semibold">A donde vamos</h3>
                <p class="text-justify mt-5">
                    En este primer momento ofrecemos servicios de teleconsulta y consulta domiciliaria, para nuestra
                    segunda etapa nos proyectamos a ofrecer los servicios de consulta externa de psicologia y trabajo
                    social, consulta especializada en adicciones y consulta general de medicina general. Tambien
                    contamos con proyectar un programa de tratamiento ambulatorio para adicciones e internamiento para
                    la recuperación de las mismas.
                </p>
            </div>
        </div>
    </div>

    <div class="mt-24">
        <h2 class="text-3xl">Nuestro <span class="text-light-green">equipo</span></h2>
    </div>
    <div class="flex mt-20 lg:justify-center">
        <div class="flex flex-wrap lg:flex-nowrap gap-5 px-5 lg:px-0 lg:w-11/12">
            <div class="shadow-2xl rounded-xl p-10">
                <h3 class="font-semibold">Lorem ipsum dolor sit amet.</h3>
                <p class="text-justify mt-5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam minima perferendis molestias eius
                    quaerat vero expedita nisi, voluptatibus tempore doloremque est, voluptate iure ad quibusdam. A id
                    eius doloribus impedit pariatur assumenda dolorem, commodi illum accusantium repellat non labore
                    rerum obcaecati ad illo cumque cupiditate quo, sit officiis omnis odio!
                </p>
            </div>
            <div class="shadow-2xl rounded-xl p-5">
                <h3 class="font-semibold">Lorem ipsum dolor sit amet.</h3>
                <p class="text-justify mt-5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam minima perferendis molestias eius
                    quaerat vero expedita nisi, voluptatibus tempore doloremque est, voluptate iure ad quibusdam. A id
                    eius doloribus impedit pariatur assumenda dolorem, commodi illum accusantium repellat non labore
                    rerum obcaecati ad illo cumque cupiditate quo, sit officiis omnis odio!
                </p>
            </div>
            <div class="shadow-2xl rounded-xl p-5">
                <h3 class="font-semibold">Lorem ipsum dolor sit amet.</h3>
                <p class="text-justify mt-5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam minima perferendis molestias eius
                    quaerat vero expedita nisi, voluptatibus tempore doloremque est, voluptate iure ad quibusdam. A id
                    eius doloribus impedit pariatur assumenda dolorem, commodi illum accusantium repellat non labore
                    rerum obcaecati ad illo cumque cupiditate quo, sit officiis omnis odio!
                </p>
            </div>
        </div>
    </div>
</section>
